<!-- AUTEUR: Jan Huijghebaert -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- Import header -->
<head th:replace="layout :: head (title='#{device.management}')">
</head>

<body onload="initPage()">
<script type="text/javascript">
    function initPage() {
        var options = {
            valueNames: ['deviceName']
        };
        var deviceList = new List('device-list', options);
    }
</script>

<div class="container">
    <div th:replace="layout :: navbar"></div>

    <div class="content">

        <div id="device-list">

            <input class="search" placeholder="Search" />

            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:text="#{device.picture}">Picture</th>
                    <th th:text="#{device.name}">Device</th>
                    <th th:text="#{device.type}">Type</th>
                    <th th:text="#{device.version}">Version</th>
                    <th th:text="#{device.manufacturer}">Manufacturer</th>
                    <th th:text="#{device.driver}">Driver</th>
                    <th th:text="#{device.used}">Used</th>
                    <th th:text="#{device.inUse}">In use</th>
                    <th th:text="#{device.disabled}">Disabled</th>
                    <th></th>
                </tr>
                </thead>

                <tbody class="list">
                <tr th:each="device : ${allDevices}">
                    <td><img th:id="${device.imageId}" th:src="${device.imageFullPath}" th:alt="${device.imageFile}" th:width="100px" th:height="100px" data-toggle="modal" th:attr="data-target='#'+${device.imageId}" /></td>
                    <td class="deviceName" th:value="${device}" th:text="${device.deviceName}">Device</td>
                    <td class="deviceType" th:value="${device}" th:text="${device.type}">Type</td>
                    <td class="deviceClass" th:value="${device}" th:text="${device.version}">Class</td>
                    <td class="deviceManufacturer" th:value="${device}" th:text="${device.manufacturer}">Manufacturer</td>
                    <td class="deviceDriver" th:value="${device}" th:text="${device.driver}">Driver</td>
                    <td class="deviceUsed" th:value="${device}" th:text="${device.used}">Used</td>
                    <td class="deviceInUse" th:value="${device}" th:text="${device.inUse}">In use</td>
                    <td class="deviceDisabled" th:value="${device}" th:text="${device.disabled}">Disabled</td>
                    <td>
                        <!-- OLD
                        <div sec:authorize="hasAuthority('device-edit')" role="presentation" th:class="${rolesActiveSettings}">
                            <a th:href="@{/devices/{id}/(id=${device.id})}" th:if="${not device.disabled and not device.inUse and not device.used}" ><span class="glyphicon glyphicon-edit"></span></a>
                        </div>
                        <div sec:authorize="hasAuthority('device-delete')" role="presentation" th:class="${rolesActiveSettings}">
                            <a th:href="@{/devices/{id}/delete(id=${device.id})}" th:if="${not device.disabled and not device.inUse and not device.used}"><span class="glyphicon glyphicon-trash"></span></a>
                        </div>
                        <a th:href="@{/devices/{id}/files(id=${device.id})}"><span class="glyphicon glyphicon-folder-open"></span></a>
                        -->

                        <a sec:authorize="hasAuthority('device-edit')" role="presentation" th:class="${rolesActiveSettings}" th:href="@{/devices/{id}/(id=${device.id})}" th:remove="${!device.disabled or device.inUse or device.used}? tag"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                        <a sec:authorize="hasAuthority('device-delete')" role="presentation" th:class="${rolesActiveSettings}" th:href="@{/devices/{id}/delete(id=${device.id})}" th:remove="${!device.disabled or device.inUse or device.used}? tag"><span class="glyphicon glyphicon-trash"></span></a>
                        <a th:href="@{/devices/{id}/files(id=${device.id})}"><span class="glyphicon glyphicon-folder-open"></span></a>
                    </td>

                    <!-- Modal -->
                    <div class="modal fade" th:id="${device.imageId}" role="dialog">
                        <div class="modal-dialog" style="position:relative; display:table; overflow-y:auto; overflow-x:auto; width:auto; min-width:300px;">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" th:text="${device.deviceName}">Device name</h4>
                                </div>
                                <div class="modal-body">
                                    <img th:src="${device.imageFullPath}" th:alt="${device.imageFile}" style="max-height:500px;" />
                                </div>
                            </div>
                        </div>
                    </div>

                </tr>
                </tbody>
            </table>

            <div sec:authorize="hasAuthority('device-create')" role="presentation" th:class="${rolesActiveSettings}">
                <a href="/devices/put" class="btn btn-primary" th:text="#{create.device}">Create device</a>
            </div>

        </div>
    </div>

</div>

</body>
</html>
