<!-- AUTEUR: Jan Huijghebaert -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Import header -->
<head th:replace="layout :: head (title='#{device.management}')">
</head>

<body onload="initPage()">
<script type="text/javascript">
    function initPage() {
        var options = {
            valueNames: ['deviceName']
        };
        var deviceList = new List('device-list', options);
    }
</script>

<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">×</span>
    <img class="modal-content" id="img01"/>
    <div id="caption"></div>
</div>

<div class="container">
    <div th:replace="layout :: navbar"></div>

    <div class="content">

        <div id="device-list">

            <input class="search" placeholder="Search" />

            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:text="#{device.picture}">Picture</th>
                    <th th:text="#{device.name}">Device</th>
                    <th th:text="#{device.type}">Type</th>
                    <th th:text="#{device.version}">Version</th>
                    <th th:text="#{device.manufacturer}">Manufacturer</th>
                    <th th:text="#{device.driver}">Driver</th>
                    <th th:text="#{device.used}">Used</th>
                    <th th:text="#{device.inUse}">In use</th>
                    <th th:text="#{device.disabled}">Disabled</th>
                    <th></th>
                </tr>
                </thead>

                <tbody class="list">
                <tr th:each="device : ${allDevices}">
                    <td><img th:id="${device.imageName}" th:src="${device.imagePath}" th:alt="${device.imageName}" th:width="100px" th:height="100px" style="border-radius:10px; cursor:pointer; transition:0.3s;"/></td>
                    <td class="deviceName" th:value="${device}" th:text="${device.deviceName}">Device</td>
                    <td class="deviceType" th:value="${device}" th:text="${device.type}">Type</td>
                    <td class="deviceClass" th:value="${device}" th:text="${device.version}">Class</td>
                    <td class="deviceManufacturer" th:value="${device}" th:text="${device.manufacturer}">Manufacturer</td>
                    <td class="deviceDriver" th:value="${device}" th:text="${device.driver}">Driver</td>
                    <td class="deviceUsed" th:value="${device}" th:text="${device.used}">Used</td>
                    <td class="deviceInUse" th:value="${device}" th:text="${device.inUse}">In use</td>
                    <td class="deviceDisabled" th:value="${device}" th:text="${device.disabled}">Disabled</td>
                    <td>
                        <a th:href="@{/devices/{id}/(id=${device.id})}" th:if="${device.disabled}"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                        <a th:href="@{/devices/{id}/delete(id=${device.id})}" th:if="${device.disabled}"><span class="glyphicon glyphicon-trash"></span></a>&nbsp;
                        <!--<a href="/homepage.html"><span class="glyphicon glyphicon-duplicate"></span></a>&nbsp;-->
                        <a href="/homepage.html"><span class="glyphicon glyphicon-folder-open"></span></a>
                    </td>

                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        var modal = document.getElementById('myModal');
                        var img = document.getElementById(/*[[${device.imageName}]]*/);
                        var modalImg = document.getElementById("img01");
                        var captionText = document.getElementById("caption");
                        img.onclick = function(){
                            modal.style.display = "block";
                            modalImg.src = this.src;
                            captionText.innerHTML = this.alt;
                        }
                        var span = document.getElementsByClassName("close")[0];
                        span.onclick = function() {
                            modal.style.display = "none";
                        }
                        /*]]>*/
                    </script>

                </tr>
                </tbody>
            </table>

            <a href="/devices/put" class="btn btn-primary" th:text="#{create.device}">Create device</a>
        </div>
    </div>

</div>

</body>
</html>
