<!-- Author : Jan Huijghebaert -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Import header -->
<head th:replace="layout :: head (title='#{fitts.test}')"></head>

<body>
<div class="container">
    <div th:replace="layout :: navbar"></div>

    <div class="content">




        <script>
            /*for allSequences:*/
            var varNumImport = 9;
            /*end*/
        </script>

        <div id="test-area" class="sans"></div>
        <script type="text/javascript" src="/js/fitts-law.js"></script>
    </div>
</div>
</body>
</html>