<!-- Author : Jan Huijghebaert -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Import header -->
<head th:replace="layout :: head (title='#{fitts.test}')"></head>

<body>
<div class="container">
    <div th:replace="layout :: navbar"></div>

    <div class="content">
        <!--
        <script>
            var parameter_counter = 0;
            var importNumOfTargets = [];
            var importSequenceRadius = [];
            var importTargetRadius = [];
        </script>

        <script th:inline="javascript" th:each="sequence : ${allSequences}">
            /*<![CDATA[*/
                importNumOfTargets[parameter_counter] = /*[[${sequence.numberOfTargets}]]*/ null;
                importSequenceRadius[parameter_counter] = /*[[${sequence.radiusBig}]]*/ null;
                importTargetRadius[parameter_counter] = /*[[${sequence.radiusSmall}]]*/ null;
                parameter_counter = parameter_counter + 1;
            /*]]>*/
        </script>

        <script>
            var importNumOfSequences = parameter_counter;
        </script>
        -->


        <!-- TEST -->

        <script>
            /* importNumOfTargets       --> Steeds oneven?, grenzen nog te bepalen
             * importSequenceRadius     --> Grenzen nog bepalen
             * importTargetRadius       --> Grenzen nog bepalen
             */
            var importNumOfTargets = [9, 3];
            var importSequenceRadius = [300, 380];
            var importTargetRadius = [60, 50];
            var importNumOfSequences = 2;
        </script>

        <div id="test-area" class="sans"></div>
        <script type="text/javascript" src="/js/fitts-law.js"></script>
    </div>
</div>
</body>
</html>