<!-- Author : Jan Huijghebaert -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Import header -->
<head th:replace="layout :: head (title='#{fitts.test}')"></head>

<body>
<div class="container">
    <div th:replace="layout :: navbar"></div>

    <div class="content">

        <script>
            /* importNumOfTargets       --> Steeds oneven, grenzen nog te bepalen
             * importSequenceRadius     --> Grenzen nog bepalen
             * importTargetRadius       --> Grenzen nog bepalen
             */
            var importNumOfTargets = [9, 13];
            var importSequenceRadius = [300, 380];
            var importTargetRadius = [60, 50];
            var importNumOfSequences = 2; // Hier berekenen!
        </script>

        <div id="test-area" class="sans"></div>
        <script type="text/javascript" src="/js/fitts-law.js"></script>
    </div>
</div>
</body>
</html>