<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- Import header -->
<head th:replace="layout :: head (title='Home')"></head>


<body onload="initPage()">

<script type="text/javascript">
    function initPage() {
        var options = {
            valueNames: ['name']
        };

        var deviceList = new List('homepage-list', options);
    }
</script>

<div class="container">
    <!-- Import menu bar -->
    <div th:replace="layout :: navbar"></div>

    <!-- <span th:text="#{homepage.hello}"/> <br/> -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <div class="content">

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user-circle fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div th:text="${amountUsers}" class="huge">26</div>

                                <!-- Fix Message hier -->
                                <div>Users</div>
                            </div>
                        </div>
                    </div>

                    <!-- Fix link naar users page -->
                    <a href="/users">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-microchip fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div th:text="${amountDevices}" class="huge">12</div>
                                <div>Devices</div>
                            </div>
                        </div>
                    </div>
                    <a href="/devices">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-file-text fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div th:text="${amountTestTemplates}" class="huge">124</div>
                                <div>Templates</div>
                            </div>
                        </div>
                    </div>
                    <a href="/tests">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-sitemap fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div th:text="${amountTestPlans}" class="huge">13</div>
                                <div>Test Plans</div>
                            </div>
                        </div>
                    </div>
                    <a href="/testplans">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div id="container" style="height: 400px; margin: auto; min-width: 310px; max-width: 600px"></div>
        <!--This is where you get the values from the model attributes, through the testobject service.
            Once all data is gathered, you can generate the graphs, using highcharts.
            A selection between data to be generated can be made afterwards, but all data to be put in the
            charts has to be ready and available.
        -->
        <script th:inline="javascript">
        /*<![CDATA[*/
        var deviceNames = [[${deviceNames}]];
        var allErrorRates = [[${allErrorRates}]];
        /*]]>*/
        </script>
        <script type="text/javascript" src="/js/chart.js"></script>


    </div>


</div>
</body>
</html>