<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- Import header -->
<head th:replace="layout :: head (title='Home')"></head>


<body onload="initPage()">

<script type="text/javascript">
    function initPage() {
        var options = {
            valueNames: ['name']
        };

        var deviceList = new List('homepage-list', options);
    }
</script>

<div class="container">
    <!-- Import menu bar -->
    <div th:replace="layout :: navbar"></div>

    <!-- <span th:text="#{homepage.hello}"/> <br/> -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <div id="container" style="height: 400px; margin: auto; min-width: 310px; max-width: 600px"></div>
    <script type="text/javascript" src="/js/chart.js"></script>

    <div class="content">
        <div id="homepage-list">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:text="#{homepage.noUsers}">noUsers</th>
                    <th th:text="#{homepage.noDevices}">noDevices</th>
                    <th></th>
                </tr>
                </thead>

                <tbody class="list">
                <!--     <td class="noUsers" th:value="${noUsers}" th:text="${homepage.noUsers}">noUsers</td> -->
                <!--   <td class="noDevices" th:value="${noDevices}" th:text="${homepage.noDevices}">noDevices</td> -->
                <td class="noUsers" th:value="${noUsers}" th:text="${noUsers}">noUsers</td>
                <td class="noDevices" th:value="${noDevices}" th:text="${noDevices}">noDevices</td>
                </tbody>
            </table>

        </div>
    </div>


</div>
</body>
</html>