<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Import header -->
<head th:replace="layout :: head (title='Home')"></head>


<body>

<div class="container">
    <!-- Import menu bar -->
    <div th:replace="layout :: navbar"></div>

    <span th:text="#{homepage.hello}"/> <br/>
    <span th:text="#{homepage.thymeleaf}"/> <br/>

    <div sec:authorize="hasRole('secret-message')">
        <span th:text="#{homepage.secret-message}"/>
    </div>
    <table>
        <tr>
            <th th:text="#{homepage.name}">NAME</th>
            <th th:text="#{homepage.role}">ROLE</th>
            <th th:text="#{homepage.permission}">PERMISSION</th>
            <th></th>
        </tr>
        <tr th:each="user,iterStat : ${allUsers}">
            <td th:text="${user.firstName} + ' ' + ${user.lastName}">Firstname lastname</td>
            <td>
                <table>
                    <tr th:each="role : ${user.roles}"><td th:text="${role.name}"/></tr>
                </table>
            </td>
            <td>
                <div th:each="role : ${user.roles}">
                    <table>
                        <tr th:each="perm : ${role.permissions}"><td th:text="${perm.name}"/></tr>
                    </table>
                </div>
            </td>
            <td><a th:href="@{/users/{id}/delete(id=${iterStat.index})}">Delete</a></td>
        </tr>
    </table>

    <form action="#" th:action="@{/users/add}" th:object="${user}" method="post">
        <p> <label th:text="#{userName}">Username</label><input type="text" th:field="*{userName}" /></p>
        <p><label th:text="#{password}">Password</label><input type="password" th:field="*{password}" /></p>
        <p><label th:text="#{lastName}">Lastname</label><input type="text" th:field="*{lastName}" /></p>
        <p><label th:text="#{firstName}">Firstname</label><input type="text" th:field="*{firstName}" /></p>
        <p><label th:text="#{role}">Role</label>
            <select th:field="*{roles}">
                <option th:each="role : ${allRoles}"
                        th:value="${{role}}"
                        th:text="${role.name}">Wireframe</option>
            </select></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

</div>
</body>
</html>