<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Import header -->
<head th:replace="layout :: head (title='Show device image')"></head>

<body>
<div class="container">

    <!-- Import menu bar -->
    <div th:replace="layout :: navbar"></div>

    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>

    <div>
        <form method="POST" enctype="multipart/form-data" th:action="@{/devices/{id}/files(id=${device.id})}">
            <table>
                <tr>
                    <td>File to upload:</td>
                    <td>
                        <input type="file" name="file" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Upload" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div>
        <form>
            <li th:each="file : ${files}">
                <a th:href="${file}" th:text="${file}" />&nbsp;&nbsp;&nbsp;
                <td>
                    <a th:href="@{/devices/{id}/files/{f}/delete(id=${device.id},f=${file})}">
                        <span type="button" class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </li>
        </form>
    </div>

</div>
</body>
</html>