<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Import header -->
<head th:replace="layout :: head (title='#(survey.management)')"></head>

<body onload="initPage()">
<script type="text/javascript">
    function initPage() {
        var options = {
            valueNames: ['opinions']
        };
        var surveyList = new List('survey-list', options);
    }
</script>
<div class="container">

    <!-- Import menu bar -->
    <div th:replace="layout :: navbar"></div>

    <div class="content">

        <div id="survey-list">
            <input class="search" placeholder="Search" />
            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:text="#{device}">Device</th>
                    <th></th>
                </tr>
                </thead>
                <!-- IMPORTANT, class="list" have to be at tbody -->
                <tbody class="list">
                <tr th:each="survey : ${allOpinions}">
                    <td class="ID" data-toggle="modal" th:attr="data-target='#Survey'+${survey.id }" th:value="${survey}" th:text="${survey.id}">ID</td>
                    <td class="Device" data-toggle="modal" th:attr="data-target='#Survey'+${survey.id }" th:value="${survey}" th:text="${survey.device}">Device</td>
                    <td class="User" data-toggle="modal" th:attr="data-target='#Survey'+${survey.id }" th:value="${survey}" th:text="${survey.user}">User</td>

                    <div th:attr="id='Survey'+${survey.id }" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <!-- Pas hier de titel aan-->
                                    <h4 class="modal-title" th:value="${survey}" th:text="${survey.device}">Device Name</h4>
                                </div>
                                <div class="modal-body">
                                    <label class="control-label" th:text="#{surveyOpinion}">Opinion</label>
                                    <p th:text="${survey.opinion}">Some text in the modal.</p>

                                    <label class="control-label" th:text="#{surveyPowerControl}">Control Device</label>
                                    <p th:text="${survey.powerControl}">Some text in the modal.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>


        </div>

    </div>
</div>

</body>
</html>