<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Import header -->
<head th:replace="layout :: head (title='#(survey.questions)')"></head>

<body onload="initPage()">
<script type="text/javascript">
    function initPage() {
        var options = {
            valueNames: ['userName']
        };
        var surveyList = new List('survey-questions', options);
    }
</script>
<div class="container">

    <!-- Import menu bar -->
    <div th:replace="layout :: navbar"></div>

    <form action="#" th:action="@{/questionssurvey}" th:object="${survey}" method="post">
        <table class="table table-hover">
            <thead>
            <tr>
                <th th:text="#{questions}">Questions</th>
                <th></th>
            </tr>
            </thead>
        </table>
        <thead>
            <tr>
                <th th:text="#{vraag1}">Vraag1</th>
                <th></th>
            </tr>
        </thead>
        <div class="radio">
            <label><input type="radio" name="optradio">Perfect</input></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio">Acceptable</input></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio">Difficult</input></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio">Very difficult</input></label>
        </div>

        <thead>
            <tr>
                <th th:text="#{vraag2}">Vraag2</th>
                <th></th>
            </tr>
        </thead>
        <div class="radio">
            <label><input type="radio" name="optradio1">Perfect</input></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio1">Acceptable</input></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio1">Could be better</input></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio1">Bad</input></label>
        </div>

        <div class="form-group">
            <label for="comment">What's your opinion of this test?</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
            <label class="control-label" th:text="#{opinion}">Name</label>
        </div>

        <!--  <div class="form-group" th:classappend="${#fields.hasErrors('opinion')}?'has-error': ''">
              <label class="control-label" th:text="#{opinion}">Name</label>
              <span class="control-label" th:if="${#fields.hasErrors('opinion')}" th:errors="*{opinion}">opinion Error</span>
              <input class="form-control" type="text" th:field="*{opinion}" />
          </div>-->


      <p>
          <a href="/home" th:text="#{close}" class="btn btn-primary">Close</a>
          <button type="submit" th:text="#{save}" class="btn btn-primary">Save</button>
      </p>
      </form>
  </div>

  </body>
  </html>