<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Import header -->
<head th:replace="layout :: head (title='#{testplans.management}')"></head>

<body onload="initPage()">
<script type="text/javascript">
    function initPage(){

        $('#users').multiSelect({
            selectableHeader: '<div class="custom-header" th:text="#{selectable.items}">Selectable items</div>',
            selectionHeader: '<div class="custom-header" th:text="#{selected.items}">Selected items</div>'
        });
    }

    $( document ).ready(function() {
        console.log( "ready!" );


    });

    function submitForm() {
        document.getElementById("alertsContainer").innerHTML = "";
        if(validateForm()){
            document.forms["testplanForm"].submit();
        }
        else{
            $( "#alertsContainer" ).append('<div class="alert alert-danger alert-dismissable" style="margin-top: 15px"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>Fill in all the fields.</div>')
        }
    }

    function validateForm() {
        var x = document.forms["testplanForm"]["name"].value;
        if (x == "") {
            return false;
        }
        x = document.forms["testplanForm"]["description"].value;
        if (x == "") {
            return false;
        }
        x = document.forms["testplanForm"]["testTemplate"].value;
        if (x == "") {
            return false;
        }
        x = document.forms["testplanForm"]["device"].value;
        if (x == "") {
            return false;
        }
        return true;
    }

</script>
<!-- Import menu bar -->

<div class="container">

    <div th:replace="layout :: navbar"></div>



    <form name="testplanForm" action="#" th:action="@{/testplans/{id}(id=${testPlan})}" th:object="${testPlan}" method="post">
        <input th:type="hidden" th:field="*{id}"/>


        <div class="form-group" th:classappend="${#fields.hasErrors('name')}?'has-error': ''">
            <label class="control-label" th:text="#{name}">Name</label>
            <span class="control-label" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Testplan Name Error</span>
            <input class="form-control" type="text" th:field="*{name}" />
        </div>

        <div class="form-group">
            <label for="comment" th:text="#{testplan.description}">Description</label>
            <textarea class="form-control" rows="5" id="comment" th:field="*{description}"></textarea>
        </div>

        <div class="form-group">
            <label class="control-label" th:field="#{testTemplate.name}">Test Template Name</label>
            <select class="form-control" th:field="*{testTemplate}" id="sel1">
                <option th:value="${{testTemplate}}" th:text="${testTemplate?.name}">Current Template</option>
                <option th:each="template : ${allTemplates}"
                        th:value="${{template}}"
                        th:text="${template.name}">Wireframe</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" th:field="#{device.name}">Device Name</label>
            <select class="form-control" th:field="*{device}" id="sel1">
                <option th:value="${{device}}" th:text="${device?.deviceName}">Current Device</option>
                <option th:each="device : ${allDevices}"
                        th:value="${{device}}"
                        th:text="${device.deviceName}">Wireframe</option>
            </select>
        </div>

        <p> <label th:text="#{user.management}">Users</label>
            <select th:field="*{users}" multiple="multiple">
                <option th:each="user : ${allUsers}"
                        th:value="${{user}}"
                        th:text="${user.userName}">Wireframe</option>
            </select>
        </p>

                <p>
                    <a href="/testplans" th:text="#{close}" class="btn btn-primary">Close</a>
                    <button type="button" onclick="submitForm()" th:text="#{save}" class="btn btn-primary">Save</button>
                </p>
        <div id="alertsContainer"></div>
            </form>
        </div>
        </body>
        </html>