<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- Import header -->
<head th:replace="layout :: head (title='#{testplan.management}')"></head>

<body onload="initPage()">
<script type="text/javascript">
    function initPage(){
        var options = {
            valueNames: [ 'name']
        };

        var testplansList = new List('testplans-list', options);



    }



</script>
<div class="container">

    <!-- Import menu bar -->
    <div th:replace="layout :: navbar"></div>

    <div class="content">

        <div id="testplan-list">
            <input class="search" placeholder="Search" />
            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:text="#{testplan.name}">Name</th>
                    <th th:text="#{template.name}">Template</th>
                    <th th:text="#{device.name}">Device</th>
                    <th th:text="#{testplan.finishedUsers}">#Finsihed Users</th>
                    <th th:text="#{testplan.amountUsers}">#Users</th>
                    <th></th>
                </tr>
                </thead>
                <!-- IMPORTANT, class="list" have to be at tbody -->
                <tbody class="list">
                <tr class="" th:each="testplan : ${allTestplans}" th:classappend="${testplan.isCompleted()} ?  bg-success : table">
                    <td class="testplanName" data-toggle="modal" th:attr="data-target='#testPlanModel'+${testplan.id }" th:value="${testplan}" th:text="${testplan.name}">Name</td>
                    <td class="testplanName" data-toggle="modal" th:attr="data-target='#testPlanModel'+${testplan.id }" th:value="${testplan}" th:text="${testplan.testTemplate.name}">Test Template</td>
                    <td class="testplanName" data-toggle="modal" th:attr="data-target='#testPlanModel'+${testplan.id }" th:value="${testplan}" th:text="${testplan.device.deviceName}">Device</td>
                    <td class="testplanEndDate" data-toggle="modal" th:attr="data-target='#testPlanModel'+${testplan.id }" th:value="${testplan}" th:text="${testplan.finsihedUsers.size()}">#Finished Users</td>
                    <td class="testplanEndDate" data-toggle="modal" th:attr="data-target='#testPlanModel'+${testplan.id }" th:value="${testplan}" th:text="${testplan.users.size()}">#Users</td>
                    <td>
                        <a sec:authorize="hasAuthority('testplan-edit')" th:href="@{/testplans/{id}/(id=${testplan.id})}"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                        <a sec:authorize="hasAuthority('testplan-delete')" th:href="@{/testplans/{id}/delete(id=${testplan.id})}"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>

                    <!-- Modal (zorg dat de juiste ID overeenkomt met uw data target -->
                    <div th:attr="id='testPlanModel'+${testplan.id }" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <!-- Pas hier de titel aan-->
                                    <h4 class="modal-title" th:value="${testplan}" th:text="${testplan.name}">Test Plan Name</h4>
                                </div>
                                <div class="modal-body">
                                    <!-- Hier komt de body, dus de context van uw box-->
                                    <p th:text="${testplan.description}">Description</p>

                                    <hr style="width: 100%; color: black; height: 1px; background-color:lightgray;" />

                                    <label class="control-label" th:text="#{template.name}">Testplan Template</label>
                                    <p th:text="${testplan.testTemplate?.name}">Some text in the modal.</p>

                                    <label class="control-label" th:text="#{device.name}">Testplan Template</label>
                                    <p th:text="${testplan.device?.deviceName}">Some text in the modal.</p>




                                    <label class="control-label" th:text="#{testplan.users}">TestPlan Users</label>
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-action" th:each="user : ${testplan.users}" th:text="${user.userName}" th:classappend="${testplan.isFinished(user)} ?  list-group-item-success : list-group-item-danger">User Name</li>
                                    </ul>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button sec:authorize="hasAuthority('testplan-complete')" type="button" class="btn btn-default">Complete</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </tr>
                </tbody>
            </table>
            <a sec:authorize="hasAuthority('testplan-create')" id="testplanCreate" href="/testplans/put" class="btn btn-primary" th:text="#{create.testplan}">Create Testplan</a>
        </div>

    </div>
</div>
</body>
</html>