<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Import header -->
<head th:replace="layout :: head (title='Test Management')"></head>

<body onload="initPage()">
<script type="text/javascript">
    function initPage(){
        var options = {
            valueNames: [ 'name']
        };

        var testTemplateList = new List('testTemplate-list', options);
    }

</script>
<div class="container">

    <!-- Import menu bar -->
    <div th:replace="layout :: navbar"></div>

    <div class="content">

        <div id="testTemplate-list">
            <input class="search" placeholder="Search" />
            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:text="#{template.name}">Template Name</th>
                    <th></th>
                </tr>
                </thead>
                <!-- IMPORTANT, class="list" have to be at tbody -->
                <tbody class="list">
                <tr th:each="testTemplate : ${allTestTemplates}">
                    <td class="name" th:value="${testTemplate}" th:text="${testTemplate.name}">Name</td>
                    <td>
                        <a th:href="@{/tests/{id}/(id=${testTemplate.id})}"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                        <a th:href="@{/tests/{id}/delete(id=${testTemplate.id})}"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a href="/tests/put" class="btn btn-primary" th:text="#{create.testTemplate}">Create test template</a>
        </div>

    </div>
</div>
</body>
</html>