<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:spring="http://jboss.org/xml/ns/javax/validation/mapping" xmlns:form="">
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet"/>
<!-- Import header -->
<head th:replace="layout :: head (title='Test Template management')"></head>

<body onload="initPage()">
<script type="text/javascript">
    function initPage() {
//        $('#permissions').multiSelect({});
        $('#testSequences').multiSelect({
            selectableHeader: '<div class="custom-header" th:text="#{selectable.items}">Available to add</div>',
            selectionHeader: '<div class="custom-header" th:text="#{selected.items}">Added</div>'
        });
    }

</script>
<div class="container">

    <!-- Import menu bar -->
    <div th:replace="layout :: navbar"></div>
    <form action="#" th:action="@{/tests/{id}(id=${testTemplate})}" th:object="${testTemplate}" method="post">
        <input th:type="hidden" th:field="*{id}"/>
        <div class="form-group" th:classappend="${#fields.hasErrors('name')}?'has-error': ''">
            <label class="control-label" th:text="#{name}">Template Name</label>
            <span class="control-label" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
            <input class="form-control" type="text" th:field="*{name}"/>
        </div>

        <!-- description -->
        <div class="form-group" th:classappend="${#fields.hasErrors('description')}?'has-error': ''">
            <label class="control-label" th:text="#{description}">Name</label>
            <span class="control-label" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description Error</span>
            <textarea class="form-control" rows="5" id="comment" th:field="*{description}"/>
        </div>


        <!-- seqCount-->
        <div class="form-group" th:classappend="${#fields.hasErrors('seqCount')}?'has-error': ''">
            <label class="control-label" th:text="#{seqCount}">seqCount</label>
            <span class="control-label" th:if="${#fields.hasErrors('seqCount')}" th:errors="*{seqCount}">seqCount Error</span>
            <input class="form-control" type="text" th:field="*{seqCount}"/>
        </div>

        <!-- numberOfTargets -->
        <div class="form-group" th:classappend="${#fields.hasErrors('numberOfTargets')}?'has-error': ''">
            <label class="control-label" th:text="#{numberOfTargets}">numberOfTargets</label>
            <span class="control-label" th:if="${#fields.hasErrors('numberOfTargets')}" th:errors="*{name}">targetRadius1 Error</span>
            <input class="form-control" type="text" th:field="*{numberOfTargets}"/>
        </div>

        <!-- targetRadius1 to targetRadius2-->
        <label class="control-label" th:text="#{targetRadius1}">targetRadius1</label>
        <div class="input-group" th:classappend="${#fields.hasErrors('targetRadius1')}?'has-error': ''">
            <span class="control-label" th:if="${#fields.hasErrors('targetRadius1')}" th:errors="*{targetRadius1}">targetRadius1 Error</span>
            <input class="form-control" type="text" th:field="*{targetRadius1}"/>
            <span class="input-group-addon">to</span>
            <!--<label class="control-label" th:text="#{targetRadius2}">targetRadius2</label>-->
            <span class="control-label" th:if="${#fields.hasErrors('targetRadius2')}" th:errors="*{targetRadius2}">Name Error</span>
            <input class="form-control" type="text" th:field="*{targetRadius2}"/>
        </div>


        <!-- circleRadius1 to circleRadius2 -->
        <label class="control-label" th:text="#{circleRadius1}">circleRadius1</label>
        <div class="input-group" th:classappend="${#fields.hasErrors('targetRadius1')}?'has-error': ''">
            <span class="control-label" th:if="${#fields.hasErrors('circleRadius1')}" th:errors="*{circleRadius1}">circleRadius1 Error</span>
            <input class="form-control" type="text" th:field="*{circleRadius1}"/>
            <span class="input-group-addon">to</span>
            <!--<label class="control-label" th:text="#{circleRadius2}">circleRadius2</label>-->
            <span class="control-label" th:if="${#fields.hasErrors('circleRadius2')}" th:errors="*{circleRadius2}">circleRadius2 Error</span>
            <input class="form-control" type="text" th:field="*{circleRadius2}"/>
        </div>

        <p>
            <a href="/tests" th:text="#{close}" class="btn btn-primary">Close</a>
            <button type="submit" th:text="#{save}" class="btn btn-primary">Save</button>
        </p>


        <h4>Sequences <a href="#" data-toggle="tooltip" data-placement="right"
                         title="The sequences list will be updated once you confirm your changes.">?</a></h4>
        <script>
            $(function () {
                $("[data-toggle = 'tooltip']").tooltip();
            });
        </script>
    </form>
    <div id="testSequence-list">
        <table class="table table-hover">
            <thead>
            <tr>
                <th th:text="#{sequence.name}">Sequence Name</th>
                <th th:text="#{testSequence.numberOfTargets}">#Targets</th>
                <th th:text="#{testSequence.targetRadius}">Target Radius</th>
                <th th:text="#{testSequence.circleRadius}">Circle Radius</th>
                <th th:text="#{difficulty}">Difficulty</th>
            </tr>
            </thead>

            <!--This populates the sequence list, only if the sequence templateIDs match the current template's ID.-->
            <tbody class="list">
            <tr th:each="testSequence : ${allTestSequences}"
                th:object="${testSequence}"
                th:if="${testSequence.templateID} == *{id}">
                <td class="id" th:value="${testSequence}" th:text="${testSequence.id}">ID</td>
                <td class="id" th:value="${numberOfTargets}" th:text="${testSequence.numberOfTargets}">#Targets</td>
                <td class="id" th:value="${radiusSmall}" th:text="${testSequence.radiusSmall}">Target Radius</td>
                <td class="id" th:value="${radiusBig}" th:text="${testSequence.radiusBig}">Circle Radius</td>
                <td class="id" th:value="${difficulty}" th:text="${testSequence.difficulty}">Difficulty</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>